*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  // background: radial-gradient(
  //   87.81% 85.49% at 96.08% 92.73%,
  //   #ffbf00 0%,
  //   #fed947 100%
  // );
}
p,ul,li,div,a{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#__next{
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a{
  text-decoration: none;
}
.container{
  margin: 0 auto;
  padding: 0 10px;
}
@media (min-width:1200px) {
  .container{
    max-width: 1220px;
  }
}